[package]
name = "hello-world"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
rustapi-rs = { workspace = true }
tokio = { workspace = true }
serde = { workspace = true }
validator = { workspace = true }
utoipa = { workspace = true }
